<div class="form-group" ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
  <div class="form-group" ng-controller="fileReaderCtrl">
    <input type="file" on-read-file="showContent($$value$$ = $fileContent)" sf-changed="form" ng-model="$$value$$" schema-validate="form" />
    <div ng-if="content">
      <pre>{{ content }}</pre>
    </div>
    <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
  </div>
</div>
